<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yqg.mapper.ResourceMapper">
    <select id="getUploadResources" resultType="com.yqg.vo.UploadResource">
        select * from resources where id in
        <foreach collection="resourceIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertBatchResources" parameterType="java.util.List">
        insert into resources (id, user_id,title,description,realName,fileType,
        tags,fee,fee_cost,status,view_count
        ,download_count,like_count, create_time, update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.userId},#{item.title},#{item.description},#{item.realName},#{item.fileType},
            #{item.tags},#{item.fee},#{item.feeCost},#{item.status},#{item.viewCount},#{item.downloadCount},
            #{item.likeCount},#{item.createTime},#{item.updateTime})
        </foreach>
    </insert>

    <insert id="insertResource" parameterType="com.yqg.vo.UploadResource">
        insert into resources (id, user_id, title, description, realName, fileType,
                               tags, fee, fee_cost, status, view_count
            , download_count, like_count, create_time, update_time)
        values (#{id}, #{userId}, #{title}, #{description}, #{realName}, #{fileType}
        #{tags}, #{fee}, #{feeCost}, #{status}, #{viewCount}, #{downloadCount}
        #{likeCount}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateStatusById" >
        update resources set status = #{status} where id = #{id}
    </update>

    <select id="getResourcesById" resultType="com.yqg.vo.UploadResource">
        select * from resources where id = #{fileId}
    </select>


</mapper>